header{
    background-color:bisque;
    margin-botton: 30px;
}

.section1{
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
}

main{
    margin-top: 120px;
}

.section2{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    height: 500px;
    grid-template-columns: repeat(2,1fr);
    gap: 5%;
}

.section3{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 150px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
    height: 700px;
}

.section4{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 150px;
}

.section5{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap: 100px;
}

.sponsor-details{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
}

article{
    height: 200px;
    width: 400px;
    display: grid;
    grid-template-rows: 5;
    margin-bottom: 100px;
}

article p{
    color: rgb(124, 120, 120);
}

article:hover{
    font-size: 110%;
    background-color: rgb(254, 222, 162);
    border-radius: 5px;
}

.article-right{
    float:right;
}

.article-center{
    margin: auto;
}

.row1{
    width: 40%;
}

.row2{
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8%;
}


.row2-divs{
    padding-top: 20%;
    padding-bottom: 20%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid orange;
    border-radius: 5px;
}

/* Added animation to the sponsor icons upon hovering cursor */
.row2-divs:hover{
    background-color: rgb(251, 215, 148);
    transition: transform 0.2s ease-in;
    /* border-radius: 50%; */
    font-size: 150%;
}

.row2-divs img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col3-div{
    margin-top: 20px;
    display:grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    margin-left: 10px;
}

.col-div-box{
    box-shadow: 10px 10px 10px 0px rgb(223, 221, 221);
}

.head{
    padding-top: 0%;
    font-size: 1.5em;
    border-color: orange;
    border-width: 5px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    padding-left: 30px;
}

.col3{
    align-items: center;
}

.col4 img{
    height: 100%;
    width: 100%;
}



.col1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.col1 img{
    height: 100%;
    width: 100%;
}

.col2{
    display:grid;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.nav1{
    font-size: 1.5em;
}

.nav2{
    display: flex;
}

.nav-content{
    margin-right: 20px;
}

h1{
    font-size: 2em;
}

.btn1{
    height: 50px;
    width: 180px;
    border-radius: 5px;
    background-color:orange;
    color: white;
    border-color: orange;
    font-size: 1em;
}

.btn-div{
    height: 100px;
    display: flex;
    align-items:center;
    justify-content:right;
    padding-right: 38%;
}

.btn2{
    height: 150px;
    width: 24%;
    border-radius: 5px;
    background-color:orange;
    color: white;
    border-color: orange;
    font-size: 1em;
}

.div1 p{
    color: rgb(123, 120, 120);

}

.div1{
    text-align: center;
    margin-bottom: 25px;
}

li{
    color: rgb(116, 114, 114);
}

.div2 img{
    height:100%;
    width: 100%;
}

.div3{
    margin-top: 120px;
    text-align: center;
    font-size: 1em;
}


.footer{
    color: rgb(128, 126, 126);
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    background-color: rgb(249, 229, 206);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Responsive for phone */
.nav1{
    grid-area: nav1;
}

.nav2{
    grid-area: nav2;
}

.div1{
    grid-area: div1;
}

.div2{
    grid-area: div2;
}

.section2{
    grid-area: section2;
}

.section3{
    grid-area: section3;
}

.btn-div{
    grid-area: btn-div;
}

.row1{
    grid-area: row1;
}

.row2{
    grid-area: row2;
}

.div3{
    grid-area: div3;
}

.section5{
    grid-area: section5;
}

.sponsor-details{
    grid-area:sponsor-details;
}

.footer{
    grid-area: footer;
}


@media screen and (max-width: 576px){

    .row1{
        width: 100%;
    }

    .row2{
        display: block;
    }

    .nav{
        display: block;
        justify-content: left;
        margin-bottom: 100px;


        /* display: flex;
        justify-content: space-between;
        margin-bottom: 100px; */
    }

    .nav2{
        display: block;
    }

    .col1{
        display: block;
    }

    .section1{
        margin-left: 0%;
        margin-right: 0%;
    }
    .section2{
        margin-left: 0%;
        margin-right: 0%;
        display: block;
    }
    .section3{
        display:block;
        margin-top: 1500px;
        margin-left: 0%;
        margin-right: 0%;
    }
    .section4{
        display: block;
        margin-left: 0%;
        margin-right: 0%;
    }
    .section5{
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        margin-right: 0%;
    }

    .sponsor-details{
        display: block;
        margin-left: 0%;
        margin-right: 0%;
    }

    .footer{
        margin-left: 0%;
        margin-right: 0%;
        text-align: center;
    }

    .article-right{
        float: none;
    }

    article{
        flex: none;
        width:100%;
        height: 100%;
    }

    .btn-div{
        margin-top: 800px;
        width: 700px;
        justify-content: left;
    }
    grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav1"
        "nav2"
        "div1"
        "div2"
        "section2"
        "section3"
        "btn-div"
        "row1"
        "row2"
        "div3"
        "section5"
        "sponsor-details"
        "footer"
        ;
    }
} 


